.tro{
    padding: 0.5rem 3.5rem;
    display: flex;
    justify-content: space-between;
    height: 77vh;
    margin-top: 6rem;
}
.t-left{
    position: relative;
    flex:1;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}
.t-name{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.t-name>span:nth-child(1){
    font-size: 2rem;
    font-weight: bold;
}
.t-name>span:nth-child(2){
    color:var(--yellow);
    font-size: 2rem;
    font-weight: bold;
}

.t-name>span:nth-child(3){
    font-size: 0.8rem;
    font-weight: 100;
    color: var(--gray);

}
.t-icon{
    gap: 1rem;
    display: flex;
    margin-top: 1rem;
}
.t-icon>a>span{
    color: var(--yellow);
}
.t-icon>a>span:hover{
    color:#008001;
}
.t-right{
    flex:1;
    position: relative;
}
.t-right>*{
    position: absolute;
    z-index: 1;
}
.t-right>:nth-child(1){
    transform: scale(0.69);
    left: -15%;
    top: -9%;
}
.t-right>:nth-child(2){
    transform: scale(0.67);
    left: -3rem;
    top: -4.6rem;
}
.t-right>:nth-child(3){
    transform: scale(1.4);
    top: 1.3rem;
    left: 4.5rem;
    width: 55vh;
    border-radius: 999px;
}
.t-right>:nth-child(4){
    transform: scale(0.6);
    top: -19%;
    left: -24%;
    border-radius:50%;
}
.blur{
    position: absolute;
    width: 22rem;
    height: 14rem;
    background: white;
    border-radius: 50%;
    filter: blur(212px);
    filter: blur(72px);
    z-index: -9;
    left: 56%;
    top: -18%;
}
@media screen and (max-width: 480px) {
    .tro{
        flex-direction: column;
        padding: 0.5rem 2rem;
    }
    .t-right{
        transform: scale(0.8);
        left: -3rem;
        margin-top: 4rem;
    }
    .blur{
        display: none;
    }
    .floting-div:nth-of-type(1){
        /* display: none; */
        top: -4rem !important;;
      }
      
      
      .t-right>:nth-child(1){
        transform: scale(0.55);
      }
      .t-right>:nth-child(2){
        transform: scale(0.50);
      }
      .t-right>:nth-child(3){
        transform: scale(1.05);
      }
      
}