.car {
    position: relative;
    overflow: hidden;
    /* Ensure card is positioned correctly */
  }
  
  .slider-container {
    position: relative;
  }
  
  .slider-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }
  
  .slider-image.active {
    opacity: 1;
  }
  
  .Button {
    position: absolute;
    padding-top: 4rem;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: none; /* Hide the button by default */
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .car:hover .Button {
    display: flex;
    padding-top: 3rem;
    opacity: 1;
    justify-content: center;
  }
  
  .btn {
    background: #f78e1e;
    color: white;
    padding: 10px 20px;
    border-radius: 50px;
    text-decoration: none;
    margin: 0 10px;
    transition: background 0.3s ease;
  }
  
  .btn:hover {
    background: #e67e22;
  }
  